body {
  background-image: linear-gradient(#67e3cb, #4b81e4);
  background-repeat: no-repeat; /*Prevents the gradient from repeating.*/
  background-attachment: fixed; /*Ensures the background stays fixed when scrolling.*/
  background-size: cover; /*Ensures the gradient covers the full screen.*/
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
